html{
    background-color:rgba(160, 160, 88, 0.192);
}
body{
    width: auto;
    margin-left: 10px;
    margin-right: 10px;
    min-height: auto;
    
    display: grid;
    grid-template:
    "...  .....        .....   .....   .....      ..."10px
    "...  header       header  header  header     ..."30vw
    "...  .....        .....   .....   .....      ..."7px
     "...  main         main    .....   footer       ..."110px
    "...  main         main   .....   .....      ..."7px
    "...  main         main  .....   aside     ..."auto
    "...  .....        .....   .....   .....      ..."30px
    /10px 1fr          1fr      7px   300px      10px;
}








header{
    grid-area: header;
    background-image:url(umi3.JPG);
    background-repeat:no-repeat;
    background-size: 100vw;
    background-position: -10% ;
    display:flex;
    flex-direction: column;
    justify-content: center;
    
}
header h1{
    font-size: 4vw;
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    background-color:rgba(0, 0, 0, 0.678);
    width: 40%;
    color: white;
    text-align: center;
    margin-bottom: -40px;
    margin-left: 20px;
}


main{
    grid-area: main;
    word-break:break-all;
    background-color: snow;
    border: 3px solid blue;
    padding: 5vw;
}
.kisuu{
    background-color:powderblue;
    padding:30px 20px;
    margin-bottom: 20px;
}
.guusuu{
    background-color:papayawhip;
    padding:30px 20px;
    margin-bottom: 20px;
}

main h3{
    margin-top: 50px;
    text-decoration: underline solid red;

} 

p{
    letter-spacing: 2px;
    color:black;
    margin-top: 10px;
    margin-bottom: 30px;
}



aside{ 
    grid-area: aside;
   
    text-align: center;
}
.nigaoe{
    text-align: center;
}
.koukoku img{
    margin-top: 30px;
    margin-bottom: 20px;
}
    
    

.nigaoe img{
    width: 200;
    max-width: 200px;
    height: auto;
    border-radius: 50%;
    padding: auto;
    
    padding-left: auto;
}
.puro h2{
    background-color: blue;
    color:white;
    margin: 0;
    padding: 0;
    height: 50px;
    text-align: center;
}
.puro ul{
    font-size: 15px;
        list-style: none;
        margin-left: 0;
        padding-left: 0;
}
.puro li{
    list-style-type: none;
    text-align: center;
    margin: 10px;
    padding-left:0;
    text-align: left;
}

footer{
    grid-area: footer;
    background-color: white;
    font-size: 30px;
    font-weight: bold;
    text-align: center;
}
.toiawase{
    display:inline-block;
    padding: 0.1em 4.5vw;
    text-decoration: none;
    background:rgb(235, 222, 36);
    color:white;
    border-bottom: solid 4px #627295;
    border-radius: 2px;
    margin-bottom: 50px;
}

.toiawase:active{
    -webkit-transform: translateY(4px);
    transform: translateY(4px);
    box-shadow: 0px 0px 1px rgba(0, 0, 0, 0.2);
    border-bottom: none;
}

.undertab {
    width: 40%;
    background: #c5e2238e;
    position: fixed;
    bottom:2px;
    margin-left: 15px;
  
    text-align: center;
    z-index:999;
  } 
  .kakokiziitiran {
    background-color: rgb(180, 218, 233);
    margin-top: 30px;
    margin-bottom: 20px;
 } 

 
 
@media(max-width:767px) {   
    body{
        grid-template: 
    "...  ...    ..."10px
    "...  header ..."30vw
    "...  .....  ..."7px
    "...  main   ..."auto
    "...  .....  ..."7px
    "...  footer  ..."110px
    "...  .....  ..."7px
    "...  aside ..."auto
    "...  .....  ..."30px
    /10px  auto  10px
    }}
