html{
    background-color:rgba(160, 160, 88, 0.192);
}
body{
    width: auto;
    margin-left: 10px;
    margin-right: 10px;
    min-height: auto;
    /* text-align: center; */
    display: grid;
    grid-template:
    "...  .....        .....   .....   .....      ..."10px
    "...  header       header  header  header     ..."30vw
    "...  .....        .....   .....   .....      ..."7px
    /* "...  nav          nav     nav     nav        ..."5vw */
    /* "...  .....        .....   .....   .....      ..."7px */
    "...  main         main    .....   footer       ..."100px
    "...  main         main   .....   .....      ..."7px
    "...  main         main  .....   aside     ..."auto
    "...  .....        .....   .....   .....      ..."30px
    /10px 1fr          1fr      7px   300px      10px;
}
header{
    grid-area: header;
    background-image:url(image/umi3.JPG);
    background-repeat:no-repeat;
    background-size: 100vw;
    background-position: -10% ;
    display:flex;
    flex-direction: column;
    justify-content: center;
    
}
header h1{
    font-size: 4vw;
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    background-color:rgba(0, 0, 0, 0.678);
    width: 40%;
    color: white;
    text-align: center;
    margin-bottom: -40px;
    margin-left: 20px;
}


main{
    grid-area: main;
    word-break:break-all;
    
}
.day{
    text-align:right;
    margin-right: 10px;
}

.tab {
  width: auto;
 
}
.tab-nav {
  display: flex;
  text-align: center;

}

  


.tab-nav-item {
  margin-right: 2px;
  background:white;
  color:black;
  padding: 10px 20px;
  text-decoration: none;
  border-radius: 6px 6px 0 0;
  border:3px solid blue;
  font-size: 15px;
  padding:1px 2px;
  width: 100%;
  cursor: pointer;

}
.tab-nav-item.is-active {
    background:blue;
    color: #fff;
}



.tab-contents {
  border: 3px solid blue;
  padding: 5vw;
  background-color: white;

}
.tab-contents-item {
    display: none;
  }



aside{ 
    grid-area: aside;
   
    text-align: center;
}
.nigaoe{
    text-align: center;
}
.koukoku{
    border: 2px solid rgb(255, 145, 0);
    padding: 80px;
}
.nigaoe img{
    width: 200;
    max-width: 200px;
    height: auto;
    border-radius: 50%;
    padding: auto;
    
    padding-left: auto;
}
.puro h2{
    background-color: blue;
    color:white;
    margin: 0;
    padding: 0;
    height: 50px;
    text-align: center;
}
.piro ul{
    font-size: 8px;
        list-style: none;
        margin-left: 0;
        padding-left: 0;
}
.puro li{
    list-style-type: none;
    text-align: center;
    margin: 10px;
    padding-left:0;
    text-align: left;
}

footer{
    grid-area: footer;
    
    font-size: 30px;
    font-weight: bold;
    text-align: center;
}
.toiawase{
    display:inline-block;
    padding: 0.1em 4.5vw;
    text-decoration: none;
    background:rgb(170, 170, 177);
    color:white;
    border-bottom: solid 4px #627295;
    border-radius: 2px;
}
.toiawase:active{
    -webkit-transform: translateY(4px);
    transform: translateY(4px);
    box-shadow: 0px 0px 1px rgba(0, 0, 0, 0.2);
    border-bottom: none;
}
@media(max-width:767px) {   
    body{
        grid-template: 
    "...  ...    ..."10px
    "...  header ..."30vw
    "...  .....  ..."7px
    "...  main   ..."auto
    "...  .....  ..."7px
    "...  footer  ..."100px
    "...  .....  ..."7px
    "...  aside ..."auto
    "...  .....  ..."30px
    /10px  auto  10px
    }}
