html{
    background-color:rgba(160, 160, 88, 0.192);
}
body{
    width: auto;
    margin-left: 10px;
    margin-right: 10px;
    min-height: auto;
    
    display: grid;
    grid-template:
    "...  .....        .....   .....   .....      ..."10px
    "...  header       header  header  header     ..."30vw
    "...  .....        .....   .....   .....      ..."3px
    "...  sns          sns     sns     sns     ..."auto
    "...  .....        .....   .....   .....      ..."3px
     "...  main         main    .....   footer       ..."110px
    "...  main         main   .....   .....      ..."7px
    "...  main         main  .....   aside     ..."auto
    "...  .....        .....   .....   .....      ..."30px
    /10px 1fr          1fr      7px   300px      10px;
}
header{
    grid-area: header;
    background-image:url(umi3.JPG);
    background-repeat:no-repeat;
    background-size: 100vw;
    background-position: -10% ;
    display:flex;
    flex-direction: column;
    justify-content: center;
    
}
header h1{
    font-size: 4vw;
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    background-color:rgba(0, 0, 0, 0.678);
    width: 40%;
    color: white;
    text-align: center;
    margin-bottom: -40px;
    margin-left: 20px;
}


main{
    grid-area: main;
    word-break:break-all;
   
    
}
.day{
    text-align:right;
    margin-right: 10px;
}

.tab {
  width: auto;
 
}
.tab-nav {
  display: flex;
  text-align: center;

}

  


.tab-nav-item {
  margin-right: 10px;
  background:white;
  color:black;
  padding: 10px 20px;
  text-decoration: none;
  border-radius: 6px 6px 0 0;
  border:0 ;
  font-size: 16px;
  padding:1px 0px;
  width: 100%;
  cursor: pointer;

}
.tab-nav-item.is-active {
    background:blue;
    color: #fff;
}



.tab-contents {
  border: 3px solid blue;
  padding: 5vw;
  background-color: white;

}
.tab-contents-item {
    display: none;
  }

main h3{
    margin-top: 50px;
    text-decoration: underline solid red;

} 
p{
    letter-spacing: 2px;
    color:black;
    margin-top: 10px;
    margin-bottom: 30px;
    font-size:17px;
}



aside{ 
    grid-area: aside;
   
    text-align: center;
}
.nigaoe{
    text-align: center;
}
.koukoku img{
    margin-top: 30px;
    margin-bottom: 20px;
}
    
    

.nigaoe img{
    width: 200;
    max-width: 200px;
    height: auto;
    border-radius: 50%;
    padding: auto;
    
    padding-left: auto;
}
.puro h2{
    background-color: blue;
    color:white;
    margin: 0;
    padding: 0;
    height: 50px;
    text-align: center;
}
.puro ul{
    font-size: 15px;
        list-style: none;
        margin-left: 0;
        padding-left: 0;
}
.puro li{
    list-style-type: none;
    text-align: center;
    margin: 10px;
    padding-left:0;
    text-align: left;
}

footer{
    grid-area: footer;
    background-color: white;
    font-size: 30px;
    font-weight: bold;
    text-align: center;
   
}
.toiawase{
    display:inline-block;
    padding: 0.1em 4.5vw;
    text-decoration: none;
    background:rgb(235, 222, 36);
    color:white;
    border-bottom: solid 4px #627295;
    border-radius: 2px;
    margin-bottom: 50px;

}

.toiawase:active{
    -webkit-transform: translateY(4px);
    transform: translateY(4px);
    box-shadow: 0px 0px 1px rgba(0, 0, 0, 0.2);
    border-bottom: none;
}
.gatya img{
    width: 30vw;
    max-width: 300px;
    height: 30vr;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 12vw;
    
}
.kisuu{
    background-color:powderblue;
    padding:30px 20px;
    margin-bottom: 20px;
}
.guusuu{
    background-color:papayawhip;
    padding:30px 20px;
    margin-bottom: 20px;
}
.undertab {
    width: 40%;
    background: #c5e2238e;
    position: fixed;
    bottom:2px;
    margin-left: 15px;
  
    text-align: center;
    z-index:999;
  } 
.kakokiziitiran {
    background-color: rgb(180, 218, 233);
    text-align: left;
    width: auto;
    height: 50px;
} 
.kakokiziitiranrink{
    font-size: 25px;
    
    margin-top: 10px;
}
.sns{
    grid-area:sns;
    margin-left: -50px;
    padding: auto;
    display:flex;
}
.snsbtniti2{
    display:flex;
    margin:10px auto 5px auto;
    margin-left: 10px;
}
.snsbtniti2 li{
    list-style: none; 
    
    margin-left: 15px;
    
    
}
.snsbtniti2 ul{
    display: flex;
    margin-top:0;
    margin-left: 0px;

}

.flowbtn11{
    font-family:'Verdana',sans-serif;	
    border-radius:4px;
    position:relative;
    display:flex;
  
    width:auto;
    font-size:20px;
    color:#fff!important;
    text-decoration:none;

    padding-left: auto;
    margin-bottom:5px;
    margin-top:0;
    }
    
    .fl_tw1{
        background:#55acee;
        }
    .fl_fb1{
            background:#3b5998;
            }
     .fl_li1{
                background:#00c300;
                }

     .flowbtn11:hover span{
                    -webkit-transform: rotateX(360deg);
                    -ms-transform: rotateX(360deg);
                    transform: rotateX(360deg);
                    text-decoration:none;
                    }
     /* .snsbtniti2{
                        display:flex;
                        flex-flow:row wrap;
                        }
     .snsbtniti2 li{
                            flex:0 0 48%;
                            text-align:center!important;
                            } */
                            /* body{
                                background: #efefef;
                              }
                               */
                              #btn{
                                width: 200px;
                                height: 150px;
                                background:#55acee;
                                border-radius: 40% 40% 20% 20%;
                                margin:20px auto;
                                text-align: center;
                                line-height: 200px;
                                color: #fff;
                                font-weight: bold;
                                font-size: 30px;
                                cursor: pointer;
                                /* cursorで矢印からポインターに変わる */
                                box-shadow: 0 10px 0 #3b2755;
                                /* 下に影をつける */
                                user-select: none;
                                /* 連打しても選択なし */
                              }
                              
                              #btn:hover{
                                opacity: 0.8;
                                /* opacityとは透明性　０で完全に透明 */
                              }
                              
                              #btn:active{
                                box-shadow:none;
                                margin-top: 30px;
                                /* ボタンを押してる感を出す。下の影を小さくし、元の丸を同じ分だけ下げる */
                              
                              }

@media(max-width:767px) {   
    body{
        grid-template: 
    "...  ...    ..."10px
    "...  header ..."30vw
    "...  .....  ..."3px
    "...  sns    ..."auto
    "...  .....  ..."3px
    "...  main   ..."auto
    "...  .....  ..."7px
    "...  footer  ..."110px
    "...  .....  ..."10px
    "...  aside ..."auto
    "...  .....  ..."30px
    /5px  auto  5px
    }}
